
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #3449c3;
    position: relative;
}
span {
    color: #fff;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 80PX;
}
header .logo {
    color: #fff;

}
header .menu {
    display: flex;
    align-items: center;
}
header .menu li {
    margin: 0 15px;
    list-style: none;
}
header .menu li a {
    color: #fff;
    text-decoration: 0;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    transition: 0.5s;
}
header .menu li a:hover {
    color: #fff;
    font-size: 18px;
}
header .menu li a::before {
    position: absolute;
    bottom: -5px;
    content: "";
    width: 0%;
    height: 5px;
    border-radius: 6px;
    transition: 0.5s;
    background-color: #fff;
}

header .menu li a:hover::before {
    width:100%;
}
section {
    height: calc(100vh - 80px);
    align-items: center;
    padding: 0 10%;
    display: flex;
}
.left {
    width: 45%;
    
}
.search-box {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    width: 250px;
    padding: 5px 10px;
    border-radius: 60px;
}
.search-box img {
    width: 16px;
}
.search-box input {
    background-color: transparent;
    color: #fff;
    width: calc(100% - 16px);
    padding-left: 5px;
    border: 0;
    outline: 0;
}
.left hr {
    width: 100px;
    margin: 20px 0;
    background-color: #fff;
    border: 0;
    height: 5px;
    border-radius: 6px;
}
.left h1 {
    font-size: 30px;
    color: #fff;
}
.left p {
    color: #fff;
    font-size: 13px;
    margin: 15px 0;
}
.icons {
    list-style: none;
    display: flex;
    margin-left: -25px;
}
.icons li {
    margin: 15px 0;
}
.icons li i {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 25PX;
    cursor: pointer;
    transition: 0.5s;
}
.icons li i:hover {
    background-color: #fff;
    color: #fff;
    transform: scale(1.5);
    color: #fff;
}
.right {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.right img {
    height: 100%;
    width: 100%;
}
/*Responsive*/

@media (max-width:904px) {
    header {
        padding: 0 5%;
    }
    header .menu {
        display: none;
    }
    section {
        margin-top: 100px;
        flex-direction: column;
    }
    section .left , section .right {
        width: 100%;
    }
    .toggle-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
        position: relative;
    }
    .toggle-menu::before{
        position: absolute;
        content: "";
        height: 5px;
        width: 25px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 10px 0 #fff;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle-menu.active::before{
        transform: translateY(0) rotate(-45deg);
        box-shadow: 0 0px 0 #fff;
    }
    .toggle-menu::after{
        position: absolute;
        content: "";
        height: 5px;
        width: 25px;
        background-color: #fff;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle-menu.active::after{
        transform: translateY(0) rotate(45deg);
        
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #3449c3;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    header .menu.responsive li {
        margin: 25px 0;
    }
}

    footer {
        background-color: #1a1a1a;
        padding: 25px 100px;
        color: #828282;
    }

    footer h2, h3, h5, p {
        text-align: center;
    }

    footer h2 a {
        color: #828282;
        font-size: 25px;
    }
