@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #3449c3, pink);
    position: relative;
}

header {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 80PX;
}

header .logo a {
    color: #fff;
    text-decoration: none;
}

header .menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

header .menu li {
    margin: 0 15px;
    list-style: none;
}

header .menu li a {
    color: #fff;
    text-decoration: 0;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    transition: 0.5s;
}

header .menu li a:hover {
    color: #fff;
    font-size: 18px;
}

header .menu li a::before {
    position: absolute;
    bottom: -5px;
    content: "";
    width: 0%;
    height: 5px;
    border-radius: 6px;
    transition: 0.5s;
    background-color: #fff;
}

header .menu li a:hover::before {
    width: 100%;
}








.section1 {
    height: calc(100vh - 80px);
    align-items: center;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

.section1 .bienvenueI {
    margin-top: 50px;
    margin-right: 15px;
    font-size: 30px;
    border: 10px solid #000;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

.section1 .bienvenueP,
.bienvenueF,
.bienvenueC {
    margin-top: 50px;
    margin-right: 15px;
    font-size: 30px;
    border: 10px solid #000;
    border-radius: 20px;
    padding: 20px 25px;
    text-align: center;
    background-color: #fff;
}

.section2 {
    background-color: #fff;
    padding: 25px 25px;
    border: 5px solid black;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
}

.img-pc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.img-pc img {
    height: 100%;
    width: 100%;
}








@media (max-width:904px) {
    header {
        padding: 0 5%;
    }

    header .menu {
        display: none;
    }

    .section1,
    .section2,
    .section3,
    .section4 {
        margin-top: 100px;
        flex-direction: column;
    }

    .section1 .img-pc {
        width: 100%;
    }

    .toggle-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
        position: relative;
    }

    .toggle-menu::before {
        position: absolute;
        content: "";
        height: 5px;
        width: 25px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 10px 0 #fff;
        transform: translateY(-10px);
        transition: 0.5s;
    }

    .toggle-menu.active::before {
        transform: translateY(0) rotate(-45deg);
        box-shadow: 0 0px 0 #fff;
    }

    .toggle-menu::after {
        position: absolute;
        content: "";
        height: 5px;
        width: 25px;
        background-color: #fff;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }

    .toggle-menu.active::after {
        transform: translateY(0) rotate(45deg);

    }

    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom right, #3449c3, pink);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    header .menu.responsive li {
        margin: 25px 0;
    }
}








footer {
    background-color: #1a1a1a;
    padding: 25px 50px;
    color: #828282;
    margin-top: 55px;
}

footer h2,
h3,
p {
    text-align: center;
}

footer h2 a {
    color: #828282;
    font-size: 20px;
}

footer p {
    margin-top: 5px;
}

footer h3,
p {
    font-size: 15px;
}

footer h3 {
    margin: 0;
}